<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eurotrip - Inspiracje</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body>
    <h1>Przykłady Eurotripów</h1>
    <p>Kto ma ochotę na przygodę i chce się zainspirować jednym z naszych Eurotripów? Wybierz jedną z poniższych tras i zacznij planować swoją podróż marzeń!</p>

    <ul>
        <li>
            <a href="#balkanska-przygoda">Bałkańska przygoda</a>
        </li>
        <li>
            <a href="#baltic-nordic">Bałtyk + Nordic</a>
        </li>
        <li>
            <a href="#dalichit">DALiCHIt</a>
        </li>
        <li>
            <a href="#azory">Azory - jeden archipelag, 3 kontynenty</a>
        </li>
    </ul>

    <section id="balkanska-przygoda">
        <h2>Bałkańska przygoda</h2>
        <ol>

            <li>
                Lecimy do Saloników (Grecja). To piękne miasto nad Morzem Egejskim, pełne zabytków i urokliwych zakątków. Dwa dni wystarczą, aby zobaczyć główne atrakcje, takie jak Biała Wieża, Rotunda, czy Bazylika św. Dymitra.
            </li>
            <li>
                Jedziemy do Skopje (Macedonia Północna). W stolicy tego kraju spędzimy 2-3 dni. Skopje jest znane z licznych pomników i futurystycznych budynków. Odwiedzimy kanion Matka, który jest idealnym miejscem na relaks i wędrówki. Nie możemy również przegapić
                lokalnego zoo, gdzie można zobaczyć wiele gatunków bażantów. Czy te krwiożercze bestie są dobrze pilnowane?
            </li>
            <li>
                Następnie udamy się do Serbii. Do Belgradu może nie być wygodnego połączenia, więc warto zatrzymać się po drodze w Nisz. To historyczne miasto oferuje wiele do zobaczenia, w tym twierdzę Nisz i Mediana – starożytne rzymskie miejsce archeologiczne.
            </li>
            <li>
                W Belgradzie spędzimy kilka dni. Miasto to będzie naszą bazą wypadową. Możemy wybrać się na jednodniową wycieczkę do Nowego Sadu, który znajduje się zaledwie 36 minut pociągiem od Belgradu. Dla odważnych, polecamy także podróż pociągiem do Baru w Czarnogórze.
                Trasa jest niezwykle malownicza i trwa około 12 godzin w jedną stronę.
            </li>
            <li>
                Gdy już nasycimy się Serbią, ruszamy do Bośni i Hercegowiny. Naszą główną bazą wypadową będzie Sarajewo. Miasto to, z jego bogatą historią i kulturą, z pewnością nas oczaruje. Oprócz zwiedzania samego miasta, warto zobaczyć pobliskie wzgórza i wąwozy.
                Szczególnie polecamy wizytę w Srebrenicy, a dla tych, którzy tam nie byli, Mostar jest koniecznym punktem na mapie.
            </li>
            <li>
                Przemieszczając się dalej na północ, zatrzymamy się po drodze w Banja Luce (Bośnia i Hercegowina). To drugie co do wielkości miasto w kraju oferuje piękne parki i interesujące zabytki.
            </li>
            <li>
                Z Banja Luki udamy się do stolicy Chorwacji, Zagrzebia. Chociaż nasz pobyt tam będzie krótki, to warto zobaczyć Katedrę Wniebowzięcia Najświętszej Maryi Panny i spacerować po starówce.
            </li>
            <li>
                Wracamy do Polski. Aby podróż nie była monotonna, możemy po drodze odwiedzić Wiedeń, stolicę Austrii, lub Budapeszt, stolicę Węgier. Oba miasta oferują mnóstwo atrakcji, które mogą wzbogacić naszą podróż.
            </li>

        </ol>
    </section>

    <section id="baltic-nordic">
        <h2>Bałtyk + Nordic</h2>
        <ol>
            <li>
                Póki Luxexpress nie wznowi swoich połączeń z południową Polską, musimy rozpocząć naszą podróż w Warszawie. Możemy zatrzymać się tu na chwilę, aby zwiedzić stolicę i jej atrakcje, takie jak Zamek Królewski, Łazienki Królewskie czy Pałac Kultury i Nauki.
                Wieczorem wsiadamy w nocny autobus do Wilna, aby maksymalnie wykorzystać nasz czas.
            </li>
            <li>
                W Wilnie, mimo że miasto ma swoje uroki, planujemy krótki pobyt. Z samego rana wybieramy się do Troków, aby zobaczyć malowniczo położony zamek na wyspie. Po powrocie do Wilna odwiedzimy cmentarz na Rossie, spacerujemy po urokliwym rynku i podziwiamy obraz
                Matki Boskiej w Ostrej Bramie. To będzie intensywny, ale fascynujący dzień.
            </li>
            <li>
                Następnego dnia rano ruszamy do Rygi, stolicy Łotwy. Miasto to słynie z pięknej secesyjnej architektury, zabytkowego Starego Miasta i licznych muzeów. Zanurzymy się w atmosferę tego miejsca, spacerując wąskimi uliczkami i odwiedzając lokalne kawiarnie.
            </li>
            <li>
                Kolejne dwa dni spędzimy w Tallinie, stolicy Estonii. To urocze miasto z dobrze zachowaną średniowieczną starówką pełną wież, baszt i brukowanych uliczek. Zwiedzimy m.in. Katedrę św. Aleksandra Newskiego, zamek Toompea oraz dzielnicę Kadriorg z pięknym
                pałacem i parkiem.
            </li>
            <li>
                Z Tallina przepłyniemy promem do Helsinek. W stolicy Finlandii spędzimy cały dzień, odkrywając jej nowoczesną architekturę, takie jak Katedra w Helsinkach, Temppeliaukio – kościół wykuty w skale, oraz Sibelius Monument. Jeśli mamy więcej czasu, wybierzemy
                się do Turku, najstarszego miasta w Finlandii, co wydłuży nasz pobyt do dwóch dni.
            </li>
            <li>
                Ze stolicy Finlandii możemy udać się do Sztokholmu, wybierając lot z Helsinek lub Tallina. W Sztokholmie planujemy spędzić jeden lub dwa dni, zwiedzając takie atrakcje jak Muzeum Vasa, Pałac Królewski i urokliwą dzielnicę Gamla Stan.
            </li>
            <li>
                Ze Sztokholmu polecimy do Oslo. Norweska stolica urzeka pięknymi widokami i licznymi atrakcjami, w tym Muzeum Muncha, Parkiem Vigelanda i malowniczymi fiordami. W Oslo spędzimy jeden lub dwa dni, delektując się skandynawskim klimatem i kulturą.
            </li>
        </ol>
    </section>

    <section id="dalichit">
        <h2>DALiCHIt</h2>
        <p>Może na początek wyjaśnienie skrótu. Kojarzycie DACh? To nic innego jak Niemcy (Deutschland), Austria (Österreich) i Szwajcaria (Schweiz). Co z Li i It? Oczywiście chodzi o Lichtenstein, maleńki kraj między Austrią a Szwajcarią, i Włochy - tego
            kraju nie trzeba nikomu przedstawiać.</p>
        <ol>
            <li>
                Jedziemy do Wiednia pociągiem rano. W Wiedniu warto spędzić 2-3 dni, bo miasto jest wręcz przepełnione zabytkami! Możemy odwiedzić Muzeum Militarne, Hofburg, Schönbrunn i Belweder.
            </li>
            <li>
                Gdy nacieszymy się Wiedniem, jedziemy do miasta Mozarta - Salzburga. Spędzamy tu kilka godzin, zwiedzając malownicze stare miasto i zamek Hohensalzburg.
            </li>
            <li>
                Na wieczór przyjeżdżamy do przepięknego Monachium. W mieście spędzimy kilka dni, zachwycając się piękną Bawarią i obowiązkowo odwiedzając zamek Neuschwanstein - piękny, disneyowski zamek u podnóży Alp.
            </li>
            <li>
                Z Monachium jedziemy w stronę jeziora Bodeńskiego. W jego okolicy spędzimy noc, ciesząc się spokojem i pięknymi widokami przed naszym kolejnym przystankiem - Lichtensteinem.
            </li>
            <li>
                W Lichtensteinie spędzimy cały dzień. Możemy wjechać tam pociągiem z Austrii, a opuścić ten urokliwy kraj pieszo, przekraczając granicę ze Szwajcarią. Zwiedzimy zamek w Vaduz, który jest oficjalną rezydencją księcia, oraz odwiedzimy Kunstmuseum Liechtenstein
                z nowoczesną sztuką.
            </li>
            <li>
                Rankiem wyruszamy do Zurychu. To będzie nasza baza wypadowa na najbliższy czas. Zurych, położony nad malowniczym jeziorem, oferuje wiele atrakcji – od starego miasta po nowoczesne galerie sztuki.
            </li>
            <li>
                W Zurychu możemy wypożyczyć rowery i odkrywać uroki miasta na dwóch kółkach. Spacer po nadbrzeżnej promenadzie, zakupy na Bahnhofstrasse, a wieczorem relaks nad jeziorem – to tylko niektóre z możliwości.
            </li>
            <li>
                Z Zurychu wybieramy się do Chur, najstarszego miasta w Szwajcarii. Stąd rozpoczyna się słynna trasa Kolei Bernińskiej. Podróż panoramicznym pociągiem przez Alpy oferuje niesamowite widoki – lodowce, wiadukty i tunele. W opcji ekonomicznej możemy wsiąść
                w zwykły szwajcarski pociąg i dojechać nim do kurortu Sankt Moritz.
            </li>
            <li>
                Najciekawszy odcinek kolei transalpejskiej znajduje się między Sankt Moritz a Tirano, dlatego ten fragment przejedziemy Koleją Bernińską. Po dniu pełnym wrażeń przybywamy do włoskiego miasteczka Tirano, gdzie spędzimy noc.
            </li>
            <li>
                Wypoczęci, wsiadamy w pociąg do Mediolanu. Podczas podróży możemy podziwiać malownicze widoki Alp i jeziora Como. W Mediolanie zwiedzimy Katedrę, Zamek Sforzów i słynną galerię Vittorio Emanuele II.
            </li>
            <li>
                Po zwiedzaniu Mediolanu możemy zdecydować się na powrót do Katowic lub kontynuować naszą podróż po północnych Włoszech. Jednym z kierunków może być Wenecja.
            </li>
            <li>
                Z Mediolanu przez Padwę i Weronę udajemy się do Wenecji. W Wenecji, w opcji ekonomicznej, korzystamy z tramwaju wodnego, by przepłynąć po Canale Grande. Jeśli dopisze nam szczęście, uda nam się zająć miejsca na przodzie, skąd rozpościera się najlepszy
                widok.
            </li>
            <li>
                Tramwaj wodny zabierze nas również na wyspę-cmentarz oraz na Murano, słynną z wyrobu szkła. Na lądzie odwiedzimy Plac Świętego Marka, most Rialto, Pałac Dożów i zagubimy się w wąskich, urokliwych uliczkach Wenecji, delektując się jej niepowtarzalną atmosferą.
            </li>
        </ol>

    </section>

    <section id="azory">
        <h2>Azory - jeden archipelag, 3 kontynenty</h2>
        <p>Wyrusz na wyjątkową przygodę na Azory, gdzie spotykają się trzy kontynenty. Odkrywaj malownicze wyspy, bujną roślinność, wulkany i urokliwe miasteczka. Każda wyspa oferuje coś unikalnego do odkrycia.</p>
        <ol>
            <!-- São Miguel -->
            <li>
                <strong>Dzień 1-2: São Miguel</strong>
                <ul>
                    <li>Odkrywamy Ponta Delgada, stolicę wyspy. Spacerujemy po urokliwych uliczkach, odwiedzamy kościoły i muzea.</li>
                    <li>Wybieramy się do Caldeira Velha, naturalnych gorących źródeł położonych w dżungli, gdzie możemy się zrelaksować w ciepłych wodach.</li>
                    <li>Zwiedzamy Lagoa do Fogo, jezioro położone w kalderze wygasłego wulkanu. Spacerujemy po okolicznych szlakach i podziwiamy spektakularne widoki.</li>
                </ul>
            </li>
            <li>
                <strong>Dzień 3-4: São Miguel</strong>
                <ul>
                    <li>Odwiedzamy Sete Cidades, dwa jeziora wulkaniczne – jedno zielone, drugie niebieskie. Możemy tu wybrać się na wycieczkę rowerową wokół jezior.</li>
                    <li>Zwiedzamy plantację ananasów i poznajemy proces uprawy tych egzotycznych owoców.</li>
                    <li>Relaksujemy się w Terra Nostra Park, pięknym ogrodzie botanicznym z naturalnymi basenami termalnymi.</li>
                </ul>
            </li>
            <li>
                <strong>Dzień 5-6: São Miguel</strong>
                <ul>
                    <li>Odwiedzamy Furnas, miejscowość słynącą z gorących źródeł i geotermalnych atrakcji. Próbujemy lokalnej potrawy cozido das Furnas, gotowanej w ziemi przy użyciu naturalnego ciepła geotermalnego.</li>
                    <li>Zwiedzamy Gorreana Tea Plantation, jedyną plantację herbaty w Europie, i uczymy się o procesie produkcji herbaty.</li>
                    <li>Podziwiamy widoki z punktu widokowego Miradouro da Ponta do Sossego.</li>
                </ul>
            </li>
            <!-- Środkowy archipelag -->
            <li>
                <strong>Dzień 7: Lot na wyspę Faial</strong>
                <ul>
                    <li>Odkrywamy miasto Horta, słynące z kolorowych murali malowanych przez żeglarzy na nabrzeżu. Zwiedzamy marina i cieszymy się widokiem na wyspę Pico.</li>
                    <li>Odwiedzamy wulkan Capelinhos i muzeum poświęcone jego erupcji z 1957 roku.</li>
                </ul>
            </li>
            <li>
                <strong>Dzień 8: Wyspa Pico</strong>
                <ul>
                    <li>Wchodzimy na szczyt Pico, najwyższy punkt Portugalii, oferujący zapierające dech w piersiach widoki na archipelag.</li>
                    <li>Po zejściu z góry odwiedzamy winnice na Pico, wpisane na Listę Światowego Dziedzictwa UNESCO, i próbujemy lokalnych win.</li>
                </ul>
            </li>
            <li>
                <strong>Dzień 9: Wyspa São Jorge</strong>
                <ul>
                    <li>Zwiedzamy malownicze wioski i liczne fajãs, płaskie obszary u podnóża klifów powstałe w wyniku osunięć ziemi.</li>
                    <li>Wędrujemy po szlakach turystycznych, podziwiając spektakularne krajobrazy wyspy.</li>
                </ul>
            </li>
            <li>
                <strong>Dzień 10: Wyspa Terceira</strong>
                <ul>
                    <li>Odkrywamy Angra do Heroísmo, miasto wpisane na Listę Światowego Dziedzictwa UNESCO, pełne historycznych budynków i kolorowych uliczek.</li>
                    <li>Zwiedzamy Algar do Carvão, imponującą jaskinię wulkaniczną z pięknymi formacjami skalnymi.</li>
                </ul>
            </li>

        </ol>
    </section>
</body>

</html>