<div class="weekendowe-container">
    <h1>Polecane wycieczki weekendowe</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, animi assumenda repellendus et reprehenderit, debitis nihil ipsam, error eveniet dignissimos odio modi! Earum porro, est nihil vel temporibus cumque ex.</p>
    <ul>
        <li>
            <a href="/weekendowe#drezno">Drezno</a>
        </li>
        <li>
            <a href="/weekendowe#ljublana">Ljublana</a>
        </li>
        <li>
            <a href="/weekendowe#bratyslawa">Bratysława</a>
        </li>
        <li>
            <a href="/weekendowe#wieden">Wiedeń</a>
        </li>

        <li>
            <a href="/weekendowe#budapeszt">Budapeszt</a>
        </li>
        <li>
            <a href="/weekendowe#malbork">Malbork</a>
        </li>
        <li>
            <a href="/weekendowe#oslo">Oslo</a>
        </li>
        <li>
            <a href="/weekendowe#kopenhaga">Kopenhaga</a>
        </li>
    </ul>

    <section id="drezno">
        <h2>Drezno</h2>
        <p>Drezno to jedno z najpiękniejszych miast Niemiec, znane z bogatej historii i wspaniałej architektury barokowej.</p>
    </section>

    <section id="ljublana">
        <h2>Ljublana</h2>
        <p>Ljublana, stolica Słowenii, zachwyca urokliwymi uliczkami, zamkiem na wzgórzu i licznymi kawiarenkami nad rzeką.</p>
    </section>

    <section id="bratyslawa">
        <h2>Bratysława</h2>
        <p>Bratysława, stolica Słowacji, oferuje piękne zabytki, takie jak Zamek Bratysławski, oraz urokliwą starówkę.</p>
    </section>

    <section id="wieden">
        <h2>Wiedeń</h2>
        <p>Wiedeń, stolica Austrii, słynie z muzyki klasycznej, wspaniałych pałaców i wyjątkowej atmosfery.</p>
    </section>

    <section id="oslo">
        <h2>Oslo</h2>
        <p>Oslo</p>
    </section>

    <section id="budapeszt">
        <h2>Budapeszt</h2>
        <p>Budapeszt, stolica Węgier, urzeka połączeniem tradycji i nowoczesności, z licznymi zabytkami i termami.</p>
    </section>

    <section id="malbork">
        <h2>Malbork</h2>
        <p>Malbork to polskie miasto słynące z największego na świecie zamku krzyżackiego, będącego wspaniałym przykładem średniowiecznej architektury.</p>
    </section>
</div>